**/*.exe
*
!/**/
!*.*
# Ignore .DS_Store files everywhere
.DS_Store
**/.DS_Store

learn_golang_from_7gpt/

# Ignore files with extension `.class`
*.class

# Ignore `bin` dir
bin/
# or
*/bin/*

# Unignore all `.exe` in `bin` dir
!*/bin/*.exe